<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jihadi.example.windows7.food" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mess_icon"
        android:label="Menu"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name="jihadi.example.windows7.food.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jihadi.example.windows7.food.MenuActivity"
            android:label="@string/title_activity_dining_hall_one" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jihadi.example.windows7.food.MainActivity" />
        </activity>
        <activity
            android:name="jihadi.example.windows7.food.info"
            android:label="info" >
        </activity>
    </application>

</manifest>
